.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button{
  width:  6cm;
  height: 2cm;
  margin: 0.4cm 0.1cm ;
  padding: 0.5cm 0.5cm;
  color: rgb(76, 66, 8);
  background-color: rgba(50, 148, 180, 0.39);
  /*font-family: 'Abadi';*/
  font-family:'Times New Roman', Times, serif;
  font-size: 12pt ;
  font-weight: bold;
  border-radius: 0.5cm; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
